<div id="overlay"></div>

<div id="menu-header">

    <div id="logo-holder">
        <img id="logo" src="assets/image/page/logo.svg" alt="logo">
    </div>

    <div id="menu">

        <a class="menu-item" *ngFor="let menuItem of menuItems" routerLink="{{menuItem.link}}"
            routerLinkActive="active">
            
            <div [style.width.px]="(iconSize * 1.5)" class="dummy"></div>
            <div [style.right.px]="(rowOffset)" class="wrapper">
                <div class="bg">{{menuItem.title}}</div>
            </div>
            <fa-icon  [style.width.px]="iconSize * 1.5" [icon]="menuItem.icon"></fa-icon>
        </a>

    </div>

</div>


<div *ngIf="showRooms; then thenBlock else elseBlock">
</div>
<ng-template #thenBlock>
    
    <div id="rooms-menu"><a class="rooms" *ngFor="let room of rooms" routerLink="{{room.link}}"
        routerLinkActive="active">{{room.menu}}</a></div>
</ng-template>

<ng-template #elseBlock>
    <h2 id="motto">{{motto}}</h2>
</ng-template>
