* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
  user-select: none;
}

p,
h1,
h2,
h3,
h4,
img {
  pointer-events: none;
  cursor: not-allowed;
}

fa-icon {
  pointer-events: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset;
}

html {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: darkgrey;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 1920px;
  font-family: 'Playfair Display', sans-serif;
  text-shadow: 1px 1px 2px rgba(127, 118, 105, 1);
}

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar-thumb {
  background: rgba(50, 50, 50, 0.2);
  border-radius: 5px;
}

a {
  text-decoration: none;
}

app-root {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  background-color: whitesmoke;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

app-auth {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: teal;
  z-index: 1000;
}

app-menu {
  position: absolute;
  top: 0;
  height: 5%;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  color: whitesmoke;
  background-color: rgb(15, 80, 80);
  box-shadow: 5px 5px 10px rgba(10, 50, 60, 0.8);
  font-family: 'Muli', sans-serif;
  z-index: 100;
}

app-sidebar {
  position: relative;
  top: 5%;
  width: 15%;
  height: 95%;
  padding-top: 2rem;
  display: flex;
  flex-flow: column;
  color: whitesmoke;
  background-color: rgb(5, 110, 110);
  font-family: 'Muli', sans-serif;
  overflow: overlay;
}

app-not-found,
app-home,
app-settings,
app-user,
app-actualities,
app-contact,
app-greet,
app-reservations,
app-rooms {
  position: relative;
  top: 5%;
  width: 85%;
  height: 95%;
  padding-top: 2rem;
  padding-bottom: 1rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: whitesmoke;
  overflow: overlay;
}

.blur {
  filter: blur(4px);
}

app-edit-dialog, app-remove-dialog {
  display: flex;
  flex-flow: column;
  align-items: center;
}

app-not-found {
  justify-content: space-evenly;
}

app-loader {
  position: relative;
  margin: 0px auto;
  width: 200px;
  height: 200px;
}

app-loader::before {
  content: '';
  display: block;
  padding-top: 100%;
}
