<div id="welcome">
    <h1 id="welcome1">Üdvözöljük a</h1>
    <img id="welcome-logo" src="assets/image/logo.svg" alt="logo">
    <h1 id="welcome2">honlapján!</h1>
</div>

<section *ngFor="let section of sections" id="intro">
    <h4>{{section.title}}</h4>
    <p *ngFor="let p of section.paragraphs">{{p}}</p>
</section>
<section id="szepek" style="margin-top: 2rem;">
    <h4>K&H és OTP Szép Kártyákkal is fizethet!</h4>
    <div id="cards">
        <img class="szep" src="assets/image/kh_szep.jpg" alt="SZÉP Kártya">
        <img class="szep" src="assets/image/otp_szep.jpg" alt="SZÉP Kártya">
    </div>
</section>
