<div id="welcome">
    <h1 id="welcome1">Üdvözöljük a</h1>
    <img id="welcome-logo" src="assets/image/logo.svg" alt="logo">
    <h1 id="welcome2">honlapján!</h1>
</div>

<section *ngFor="let section of sections" id="intro">
    <h4>{{section.title}}</h4>
    <p *ngFor="let p of section.paragraphs">{{p}}</p>
</section>

<section style="margin-top: 2rem;">
    <h4>Boldog új évet kívánunk!</h4>
    <img class="szep" src="assets/image/2022.jpg" alt="2022">
</section>

<section style="margin-top: 2rem;">
    <h4>Már K&H Szép Kártyával is fizethet!</h4>
    <img class="szep" src="assets/image/szep.png" alt="SZÉP Kártya">
</section>
