<app-loader *ngIf="!loaded">

</app-loader>

<main *ngIf="loaded">

    <h2>{{ title }}</h2>

    <section>

        <div id="tableHead">
            <div class="item" *ngFor="let item of objectKeys(docs[0])" [style.width.px]="width"
                [ngClass]="{hide: item == '_id'}">
                <h3>{{item}}</h3>
            </div>
        </div>
        <article *ngFor="let doc of docs; even as even" [ngClass]="{even: even}">
            <div class="item" *ngFor="let item of doc | keyvalue:descOrder" [style.width.px]="width"
                [ngClass]="{hide: item.key === '_id'}">
                <fa-icon *ngIf="item.key === 'Ikon'; else thenBlock" [icon]="setIcon(item.value.toString())"></fa-icon>
                <ng-template #thenBlock>
                    <p>{{item.value}}</p>
                </ng-template>
            </div>
            <div class="actions">
                <a (click)="editItem(doc)">
                    <fa-icon [icon]="setIcon('edit')"></fa-icon>
                </a>
                <a (click)="removeItem(doc)">
                    <fa-icon [icon]="setIcon('trash-alt')"></fa-icon>
                </a>
            </div>
        </article>

        <div id="add">
            <button (click)="addItem()" mat-raised-button>
                <p>
                    <fa-icon [icon]="setIcon('plus-square')"></fa-icon>Elérhetőség hozzáadása
                </p>
            </button>
        </div>

    </section>



</main>