h3 {
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
}

button {
  margin-bottom: 0.75rem;
  font-size: 1.5rem;
  text-decoration: none;
  color: whitesmoke;
  cursor: pointer;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  transition: all 500ms ease-in-out;
}

button.active {
  color: rgb(2, 172, 172);
}
