<ng-template #dialog>
    <form class="form-group" (submit)="submit()">

        <mat-form-field appearance="outline">
            <mat-label>Felhasználónév</mat-label>
            <input matInput name="username" class="form-control" required [placeholder]="userPlaceHolder" minlength="1"
                [(ngModel)]="credentials.username" #usernameInput="ngModel" autocomplete="off">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label for="password">Jelszó</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" name="password" class="form-control" required
                [placeholder]="pwPlaceHolder" [(ngModel)]="credentials.password" #passwordInput="ngModel" autocomplete="off">
            <button type="button" mat-icon-button matSuffix (click)="hide = !hide"
                [attr.aria-pressed]="hide">
                <fa-icon [icon]="hide ? setIcon('eye-slash') : setIcon('eye')"></fa-icon>
            </button>
        </mat-form-field>

        <mat-error *ngIf="errorMessage">{{errorMessage}}</mat-error>

        <button type="submit" mat-raised-button color="primary"
            [disabled]="usernameInput.invalid || passwordInput.invalid">Bejelentkezés</button>

    </form>
</ng-template>