<div id="container">
    <h1>Foglalás</h1>
    <div *ngIf="submitted; then thenBlock else elseBlock"></div>

    <ng-template #thenBlock>
        <div id="screen">
            <dialog [ngClass]="{
                'message-sent': status === 2,
                'message-not-sent': status === 3,
                '': status === 1
              }" open>{{sent}}</dialog>
        </div>
    </ng-template>

    <ng-template #elseBlock>
        <form (ngSubmit)="submit()">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" required [(ngModel)]="name" minlength="3" name="name"
                    placeholder="your name" #nameInput="ngModel">
                <div class="help error" *ngIf="nameInput.invalid && nameInput.dirty">
                    You have to provide a name at least 3 characters long.
                </div>
            </div>

            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" class="form-control" id="email" required [(ngModel)]="email" email name="email"
                    placeholder="your email address" #emailInput="ngModel">
                <div class="help error" *ngIf="emailInput.invalid && emailInput.dirty">
                    You have to provide a valid email address.
                </div>
            </div>

            <div class="form-group">
                <label for="phone">Telefonszám</label>
                <input type="tel" class="form-control" id="phone" required [(ngModel)]="phone" name="phone"
                    placeholder="your phone number" #phoneInput="ngModel">
                <div class="help error" *ngIf="phoneInput.invalid && phoneInput.dirty">
                    You have to provide a valid phone number.
                </div>
            </div>

            <div class="form-group">
                <label for="comment">comment</label>
                <textarea class="textarea form-control" id="comment" [(ngModel)]="comment"
                    name="comment" placeholder="Please type in your comment" #commentInput="ngModel"></textarea>
            </div>

            <div class="form-group">
                <label for="arrivalAt">Érkezés</label>
                <input type="date" class="form-control" id="arrivalAt" required [(ngModel)]="arrivalAt" name="arrivalAt" #arrivalAtInput="ngModel">
            </div>

            <div class="form-group">
                <label for="leaveAt">Távozás</label>
                <input type="date" class="form-control" id="leaveAt" required [(ngModel)]="leaveAt" name="leaveAt" #leaveAtInput="ngModel">
            </div>

            <div id="sending">
                <button type="submit" class="btn btn-success"
                    [disabled]="nameInput.invalid || emailInput.invalid || phoneInput.invalid || arrivalAtInput.invalid || leaveAtInput.invalid || submitted">Send</button>
            </div>
        </form>
    </ng-template>
</div>