#container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

#success {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}


h1 {
	margin-bottom: 3rem;
	text-align: center;
}

h3 {
	margin-bottom: 2rem;
	text-align: center;
}

table {
	width: 50%;
}

@media only screen and (max-width: 600px) {
    table {
        width: 90%;
    }
}

tr {
	margin-bottom: 1rem;
}

td {
	width: 50%;
}
